In [1]:
import pandas as pd
import selenium
from selenium import webdriver

from bs4 import BeautifulSoup
import requests

import urllib.request
from urllib.request import urlopen

In [2]:
driver=webdriver.Chrome(r"C:\Users\karti\OneDrive\Desktop\Data trained\chromedriver.exe")

In [3]:
driver.get('https://www.myntra.com/shoes')

In [4]:
price=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label/div")
price.click()

In [5]:
color=driver.find_element_by_xpath("//li[@class='colour-listItem']/label/div")
color.click()

In [6]:
Brand=[]
Description=[]
Price=[]

In [8]:
brand=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")[:100]
for i in brand:
    Brand.append(i.text)

In [10]:
des=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[1]")[:100]
for i in des:
    Description.append(i.text)

In [11]:
price=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/div/span[1]")[:100]
for i in price:
    Price.append(i.text)

In [12]:
SHOES=pd.DataFrame({})
SHOES['brand']=Brand
SHOES['des']=Description
SHOES['price']=Price

In [13]:
SHOES

,brand,des,price
0,ADIDAS Originals,Men SEELEY Skate Shoes,Rs. 6999
1,Nike,Men AIR ZOOM Running Shoes,Rs. 8396Rs. 11995
2,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999
3,Nike,PEGASUS FLYEASE Running Shoes,Rs. 6496Rs. 9995
4,Nike,ZOOM FREAK 2 Basketball Shoes,Rs. 6691Rs. 10295
5,Nike,Men LEBRON 14 Basketball Shoes,Rs. 8121Rs. 12495
6,Nike,Men Basketball Shoes,Rs. 8446Rs. 12995
7,ADIDAS Originals,Men Superstar Sneakers,Rs. 7149Rs. 10999
8,Nike,Men AIR ZOOM Running Shoes,Rs. 6691Rs. 10295
9,ADIDAS Originals,Men NMD R1Sneakers,Rs. 8449Rs. 12999
10,Geox,Men Leather Driving Shoes,Rs. 9999
11,Geox,Men Leather Driving Shoes,Rs. 7999
12,Cole Haan,Men Solid Sneakers,Rs. 8499Rs. 16999
13,Geox,Men Leather Formal Derbys,Rs. 7794Rs. 12990
14,ALDO,Men Leather Loafers,Rs. 9099Rs. 12999
15,Nike,Women AIR MAX VERONA Sneakers,Rs. 6496Rs. 9995
16,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 5999Rs. 11999
17,Cole Haan,Sneakers,Rs. 9499Rs. 18999
18,Cole Haan,Women Solid Sneakers,Rs. 8499Rs. 16999
19,Geox,Men Leather Formal Derbys,Rs. 7494Rs. 12490
20,Cole Haan,Leather Sneakers,Rs. 5999Rs. 11999
21,Cole Haan,Women Leather Loafers,Rs. 6499Rs. 12999
22,Puma,Men Running Shoes,Rs. 5849Rs. 8999
23,Cole Haan,Men Leather Loafers,Rs. 9499Rs. 18999
24,ADIDAS Originals,Men LXCON 94 Sneakers,Rs. 5999Rs. 11999
25,Puma,Women Running Shoes,Rs. 7499Rs. 9999
26,Cole Haan,Women Leather Open Toe Flats,Rs. 6499Rs. 12999
27,Kenneth Cole,Men Solid Leather Formal Brogues,Rs. 6293Rs. 8990
28,Geox,Men Mid-Top Sneakers,Rs. 10999
29,Cole Haan,Women Woven Design Sneakers,Rs. 7499Rs. 14999
30,Geox,Men Leather Formal Derbys,Rs. 8394Rs. 13990
31,UNDER ARMOUR,Men HOVR Strt Walking Shoes,Rs. 9999
32,ADIDAS Originals,Leather Supercourt Sneakers,Rs. 5699Rs. 7599
33,Kenneth Cole,Men Solid Formal Genuine Leather Derbys,Rs. 6153Rs. 8790
34,Skechers,Men Running Shoes,Rs. 6499
35,Cole Haan,Women Ballerinas,Rs. 8999Rs. 17999
36,ADIDAS Originals,Men POD-S3.1 Sneakers,Rs. 5999Rs. 11999
37,ADIDAS,Solar Drive 19 Running Shoes,Rs. 7199Rs. 11999
38,Quechua By Decathlon,Men Trekking Shoes,Rs. 5639Rs. 5999
39,Geox,Men Leather Formal Slip-Ons,Rs. 7794Rs. 12990
40,Cole Haan,Men Traveller Leather Penny Loafers,Rs. 9999Rs. 19999
41,ADIDAS Originals,Men NMD R1Sneakers,Rs. 10499Rs. 13999
42,Cole Haan,Women Leather Brogues,Rs. 8499Rs. 16999
43,Cole Haan,Men Solid Leather Brogues,Rs. 9499Rs. 18999
44,Geox,Men Leather Formal Derbys,Rs. 7794Rs. 12990
45,Cole Haan,Women Woven Design Sneakers,Rs. 7499Rs. 14999
46,FILA,Men Sneakers,Rs. 6999
47,Puma,Men SPEED 500 2 Running Shoes,Rs. 6499Rs. 9999
48,Cole Haan,Women Leather Loafers,Rs. 8499Rs. 16999
49,FILA,Heritage Stackhouse Sneakers,Rs. 8999