In [112]:
import pandas as pd
import requests
    
from selenium import webdriver
from bs4 import BeautifulSoup

In [113]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument('--incognito')

In [116]:

driver=webdriver.Chrome(r"C:\Users\karti\OneDrive\Desktop\Data trained\chromedriver.exe")
driver.get("https://www.naukri.com/")

In [117]:
job_search=driver.find_element_by_id('qsb-keyword-sugg')
job_search.send_keys("Data Analyst")

In [118]:
location_search=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
location_search.send_keys("Bangalore")

In [119]:
search_buton=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_buton.click()

In [122]:
Job_title=[]
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]
for i in title:
    Job_title.append(i.text)

In [124]:
Company=[]
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
for i in company:
    Company.append(i.text)

In [125]:
Experience=[]
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")[:10]
for i in experience:
    Experience.append(i.text)

In [127]:
Salary=[]
salary=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']/span")[:10]
for i in salary:
    Salary.append(i.text)

In [128]:
Location=[]
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]
for i in location:
    Location.append(i.text)

In [130]:
analyst=pd.DataFrame({})
analyst['job_title']=Job_title
analyst['company']=Company
analyst['experience']=Experience
analyst['salary']=Salary
analyst['locations']=Location

In [132]:
analyst

,job_title,company,experience,salary,locations
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs,"3,50,000 - 8,50,000 PA.","Delhi NCR, Bengaluru, Hyderabad"
1,Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs,"3,50,000 - 4,50,000 PA.","Chennai, Pune, Bengaluru, Hyderabad"
2,Business Data Analyst,NetApp,2-3 Yrs,Not disclosed,Bengaluru
3,"SAS AML Data Analyst / Trainee & Data Science,...",MagicBase Royal BD Pvt Ltd,0-5 Yrs,"50,000 - 2,00,000 PA.",Bengaluru(Whitefield)
4,Hiring Data Analysts,Flipkart Internet Private Limited,2-5 Yrs,"3,00,000 - 6,00,000 PA.",Bengaluru
5,Hiring Data Analysts,Flipkart Internet Private Limited,2-5 Yrs,"2,50,000 - 5,50,000 PA.",Bengaluru
6,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-5 Yrs,Not disclosed,"Bengaluru, India"
7,Study Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Not disclosed,Bengaluru
8,Data Analyst,Cognizant Technology Solutions India Ltd,3-4 Yrs,Not disclosed,Bengaluru
9,Data Analyst,Luxoft,10-12 Yrs,Not disclosed,Bengaluru