In [4]:
import pandas as pd
import requests
    
from selenium import webdriver
from bs4 import BeautifulSoup

In [5]:
from selenium.webdriver.chrome.options import Options
chrome_options = Options()
chrome_options.add_argument('--incognito')

In [6]:
chrome_options = Options()
chrome_options.add_argument('--incognito')
driver=webdriver.Chrome(r"C:\Users\karti\OneDrive\Desktop\Data trained\chromedriver.exe")

In [7]:
driver.get("https://www.naukri.com/")

In [8]:
job_search=driver.find_element_by_id('qsb-keyword-sugg')
job_search.send_keys("Data Scientist")

In [9]:
search_buton=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_buton.click()

In [10]:
chk=driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']/label[@for='chk-Delhi/NCR-cityType-']/i")
chk.click()

In [11]:
chk=driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont']/label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
chk.click()

In [13]:
Job_title=[]
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]
for i in title:
    Job_title.append(i.text)

In [15]:
Company=[]
company=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]
for i in company:
    Company.append(i.text)

In [16]:
Experience=[]
experience=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")[:10]
for i in experience:
    Experience.append(i.text)

In [19]:
Location=[]
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")[:10]
for i in location:
    Location.append(i.text)

In [20]:
filteredjobs=pd.DataFrame({})
filteredjobs['Job_title']=Job_title
filteredjobs['Company']=Company
filteredjobs['location']=Location
filteredjobs['experienc']=Experience

In [21]:
driver.close()

In [22]:
filteredjobs

,Job_title,Company,location,experienc
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",0-2 Yrs
1,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,"Pune, Bengaluru, Gurgaon",3-8 Yrs
2,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,"Pune, Bengaluru, Gurgaon",3-8 Yrs
3,Data Scientist - Python/Machine Learning,Jubna,Noida,5-8 Yrs
4,Data Scientist,PureSoftware Pvt Ltd.,Gurgaon,5-9 Yrs
5,Data Scientist,World Wide Technology,Gurgaon,3-8 Yrs
6,Data Scientist,Stark Industries,Delhi,3-5 Yrs
7,Job | Opportunity For Senior Role(Data Scienti...,BA Continuum India Pvt. Ltd,"Gandhinagar, Delhi NCR, Mumbai, Gurgaon",14-17 Yrs
8,Data Scientist For A Leading Movers & Packers ...,Myfuture Placement Consultancy,Delhi NCR,1-2 Yrs
9,Data Scientist(Hadoop/ Redshift /BigQuery),Jubna,Noida,4-6 Yrs